[submodule "contrib/autofmt"]
	path = contrib/autofmt
	url = https://github.com/vim-jp/autofmt.git
[submodule "contrib/vimdoc-ja"]
	path = contrib/vimdoc-ja
	url = https://github.com/vim-jp/vimdoc-ja.git
[submodule "contrib/lang-ja"]
	path = contrib/lang-ja
	url = https://github.com/vim-jp/lang-ja.git
[submodule "contrib/vim-mild"]
	path = contrib/vim-mild
	url = https://github.com/k-takata/vim-mild.git
